.Paragraph-Style
{
	font-family: actor-n4, sans-serif;
}

.Heading,.Small-Heading
{
	font-family: bebas-neue-n4, sans-serif;
}

.Team-Name
{
	font-family: puritan-n4, sans-serif;
}

.Team-Desig
{
	font-family: puritan-n7, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.ts02-Body-Sans-Modern
{
	font-family: comfortaa-n7, sans-serif;
}

.ts03-Body-Sans-Wide
{
	font-family: droid-sans-n4, sans-serif;
}

.ts04-Body-Sans-Light
{
	font-family: quicksand-n4, sans-serif;
}

.ts04-Body-Serif-Light
{
	font-family: quattrocento-n4, serif;
}

#u1059-4
{
	font-family: raleway-n1, sans-serif;
}

#u514-4,#u2846-4
{
	font-family: raleway-n9, sans-serif;
}

#u197-4,#u214-4,#u219-4,#u1411-4,#u229-4,#u234-4,#u1040-4,#u2288-8
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2286-7,#u2288,#u2288-3
{
	font-family: bangers-n4, sans-serif;
}

#u1315-4,#u981-4,#u983-4,#u985-4,#u1318-4,#u982-4,#u984-4,#u986-4,#u1319-4,#u1337-4,#u1339-4,#u1341-4,#u1343-4,#u1338-4,#u1340-4,#u1342-4,#u1344-4,#u1349-4,#u1351-4,#u1353-4,#u1536-4,#u1350-4,#u1352-4,#u1354-4,#u1537-4,#u1619-8,#u3378-6,#u2141-2
{
	font-family: abel-n4, sans-serif;
}

#u3213-4
{
	font-family: annie-use-your-telescope-n4, sans-serif;
}

#u517-3
{
	font-family: changa-one-n4, sans-serif;
}

